#logo-text {
    color: #1caa98;
}

@keyframes fade-in {
    0%   {opacity: 0.0;}
    100% {opacity: 1.0;}
}

@media only screen and (max-width: 768px) {

    header {
        background-size: 200% 100%;
    }
}

@media only screen and (min-width: 769px) {

    header {
        background-size: 100% 100%;
    }       
}

header {
    background-image: url("/Images/background-hourglass-2.jpg");
    height: 80vh;
    animation-name: fade-in;
    animation-duration: 2s;
}       
        
section{
    margin: 2%;
}



